In [1]:
# 步骤1 导入必要的库
import pandas as pd

In [3]:
# 将数据集存入一个名为chipo的变量中
chipo = pd.read_csv('快餐数据.tsv', sep = '\t')

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
# 步骤7 打印出全部的列名称
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

- order_id: 订单id
- quantity: 数量
- item_name: 项目名称
- choice_description: 选择与描述
- item_price: 项目价格

### 下单数最多商品(item)是什么?

In [11]:
# 通常，pandas中的groupby（）方法在调用完毕之后，会将by之后的列修改为index
# 该参数是控制groupby方法是否需要将列作为新的index。默认是True，
# 为了达到上述目的，我们只需要将其设置为False即可
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).sum()
c.sort_values(['quantity'],ascending=False,inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [9]:
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).sum()
c.sort_values(['quantity'],ascending=False,inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

### 在item_name这一列中，一共有多少种商品被下单？

In [12]:
chipo['item_name'].nunique()

50

### 在choice_description中，下单次数最多的商品是什么？

In [14]:
# value_counts() 函数可以对Series里面的每个值进行计数并且排序
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### 一共有多少商品被下单？

In [15]:

total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

 # 将item_price转换为浮点数?

In [18]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [19]:
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [20]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

## Series.apply()
pandas 的 apply() 函数可以作用于 Series 或者整个 DataFrame，功能也是自动遍历整个 Series 或者 DataFrame, 对每一个元素运行指定的函数

#### 在该数据集对应的时期内，收入(revenue)是多少?

In [21]:
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

39237.02

#### 在该数据集对应的时期内，一共有多少订单？

In [22]:
chipo['order_id'].nunique()

1834

#### 每一单(order)对应的平均总价是多少？

In [23]:
chipo[['order_id','sub_total']].groupby(by=['order_id']).sum()['sub_total'].mean()

21.394231188658654

In [24]:
chipo[['order_id','sub_total']].groupby(by=['order_id']).sum()['sub_total'].mean()

21.394231188658654

#### 一共有多少种不同的商品被售出？

In [25]:
chipo['item_name'].nunique()

50