## 酒类消费数据统计

字段名称 	解释说明
- country 	国家
- beer_servings 	啤酒消费
- spirit_servings 	烈酒消费
- wine_servings 	红酒消费
- total_litres_of_pure_alchol 	消费的纯酒精统计
- continent 	大陆

#### 导入必要的库

In [46]:
# 运行以下代码
import pandas as pd

#### 从如下地址导入数据集

In [54]:
drinks = pd.read_csv('./exercise_data/drinks.csv')

#### 查看相关信息

In [55]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [56]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

#### 哪个大陆(continent)平均消耗的啤酒(beer)更多？

In [57]:
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [58]:
drinks.groupby('continent')['beer_servings'].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

#### 打印出每个大陆(continent)的红酒消耗(wine_servings)的描述性统计值

In [64]:
drinks.groupby('continent').wine_servings.count()

continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: wine_servings, dtype: int64

In [60]:
drinks.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

##### describe()函数

就是返回这两个核心数据结构的统计变量。其目的在于观察这一系列数据的范围、大小、波动趋势等等
统计值变量说明：

- count：数量统计，此列共有多少有效值
- unipue：不同的值有多少个
- std：标准差
- min：最小值
- 25%：四分之一分位数
- 50%：二分之一分位数
- 75%：四分之三分位数
- max：最大值
- mean：均值

#### 打印出每个大陆每种酒类别的消耗平均值

In [62]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

#### 打印出每个大陆每种酒类别的消耗中位数

In [66]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

#### 打印出每个大陆对spirit饮品消耗的平均值，最大值和最小值

In [68]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302